function setColumnHeight(arr, num) {
  num = num ? num : 6
  if (arr.length < num) {
    return 100
  } else {
    return 160
  }
}

function indicatorDots(arr, num) {
  if (num) {
    return true
  }
  if (arr.length > 10) {
    return true
  } else {
    return false
  }
}

function setColumnList(arr, num) {
  num = num ? num : 10
  var pages = []
  arr.forEach(function (item, index) {
    var page = Math.floor(index / num)
    if (!pages[page]) {
      pages[page] = []
    }
    pages[page].push(item)
  })
  return pages
}

module.exports = {
  setColumnHeight: setColumnHeight,
  setColumnList: setColumnList,
  indicatorDots: indicatorDots
}